<h2 class="page-title ascii-font syntax3">
<pre>
┌─┐┌┐ ┌─┐┬ ┬┌┬┐
├─┤├┴┐│ ││ │ │ 
┴ ┴└─┘└─┘└─┘ ┴ 
</pre>
</h2>

<div class="about">
    <h3 class="syntax5">Ryota Mogi</h3>
    <p class="syntax4">-------------------------------------------------------------------------------------</p>
    <p>1992-12-21</p>
    <p>Web エンジニア。</p>
    <p>最近はフロントエンド寄り。</p>
    <p>バックエンドも好きです。</p>
    <p>名前をもじったイニシャルのR-skという名前で活動してます。</p>

    <br>
    
    <h3 class="syntax5">History</h3>
    <p class="syntax4">-------------------------------------------------------------------------------------</p>
    <p>高校の頃よりWebに興味を持つ</p>
    <p>ネット上でコミュニティを作り共同開発するが、なかなか上手くいかず・・</p>
    <p>専門学校卒業後、ソシャゲ業界に就職。</p>
    <p>現在では高度に調教された社畜のご様子。</p>
</div>
