<h2 class="page-title ascii-font syntax3">
<pre>
┌─┐┌─┐┌┐┌┌┬┐┌─┐┌─┐┌┬┐
│  │ ││││ │ ├─┤│   │ 
└─┘└─┘┘└┘ ┴ ┴ ┴└─┘ ┴ 
</pre>
</h2>

<dl class="contact">
    <dt class="syntax5">Github</dt>
    <dd><a href="https://github.com/rskull" target="_blank">https://github.com/rskull</a></dd>

    <dt class="syntax5">Twitter</dt>
    <dd><a href="https://twitter.com/r_skull" target="_blank">https://twitter.com/r_skull</a></dd>

    <dt class="syntax5">Mail</dt>
    <dd><a href="mailto:info@rskull.com">info@rskull.com</a></dd>
</dl>
