<pre class="page-title ascii-font syntax3">
┬ ┬┌─┐┬  ┌─┐┌─┐┌┬┐  ┌┬┐┌─┐  ┬─┐   ┌─┐┬┌─  ┌─┐┌─┐┌─┐┌─┐
│││├┤ │  │  │ ││││   │ │ │  ├┬┘───└─┐├┴┐  ├─┘├─┤│ ┬├┤ 
└┴┘└─┘┴─┘└─┘└─┘┴ ┴   ┴ └─┘  ┴└─   └─┘┴ ┴  ┴  ┴ ┴└─┘└─┘
</pre>            

<div class="home">
    <h3 class="syntax5">ポートフォリオサイト</h3>
    <p class="syntax4">-------------------------------------------------------------------------------------</p>
    <p>何故かvim + tmux っぽくなりました。</p>
    <p>vimライクに <span class="syntax5">j</span> や <span class="syntax5">k</span> + <span class="syntax5">Enter</span>で移動できるよ！</p>
</div>

