<h2 class="page-title ascii-font syntax3">
<pre>
┌─┐┬┌─┬┬  ┬  
└─┐├┴┐││  │  
└─┘┴ ┴┴┴─┘┴─┘
</pre>
</h2>

<dl class="skill">
    <dt class="syntax5">HTML5</dt>
    <dd><span class="syntax4">★★★★★</span>☆☆</dd>

    <dt class="syntax5">CSS3</dt>
    <dd><span class="syntax4">★★★★★</span>☆☆</dd>

    <dt class="syntax5">JavaScript</dt>
    <dd><span class="syntax4">★★★★</span>☆☆☆</dd>

    <dt class="syntax5">PHP</dt>
    <dd><span class="syntax4">★★★★</span>☆☆☆</dd>

    <dt class="syntax5">MySQL</dt>
    <dd><span class="syntax4">★★★</span>☆☆☆☆</dd>

    <dt class="syntax5">Vim</dt>
    <dd><span class="syntax4">★★★★</span>☆☆☆</dd>

    <dt class="syntax5">Tmux</dt>
    <dd><span class="syntax4">★★★</span>☆☆☆☆</dd>
</dl>
